div.table2{
    width: inherit;
    height: 945px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 20px;
   border: 1px solid var(--gray) ;
   padding: 20px;
   background-color: white;
direction: ltr;
}
div.table2>div{
   
    /*border-bottom: 3px solid var(--gray);*/
    height: 278px;
     width: 1278px;
     background-color: var(--gray);
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
 }
 div.table2>div.s1{
     background-color: var(--gray);
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: flex-start;
 }
 div.table2>div.s3{
    background-color: var(--gray);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
div.table2>div.head{
    background-color: white;
    width: 1278px;
    height: 70px;
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
div.table2>div.head>h2{
    color: var(--black);
    font-size: 20px;
    font-family: yekanr;
    line-height: 20px;
    padding:  7px;
    text-align: center;
}


div.table2>div.head>i{
    color: var(--red);
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
}






div.table2>div>div.a1{
    width: 210px;
    direction: rtl;
    
}
div.table2>div>div.a1>a{
    width: 211px;
    height: 276px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 12px 7px;
    background-color: white;
}
div.table2>div>div.a1>a>div.a1-1>img{
    width: 150px;
}
div.table2>div>div.a1>a>div.a1-1{
    position: relative;
    height: 150px;
}
div.table2>div>div.a1>a>div.a1-1>i{
    color: var(--red);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    right: -12px;
    top: 120px;
}
div.table2>div>div.a1>a>div.a1-2>div{
    padding: 3px;
}
div.table2>div>div.a1>a>div.a1-2>div>div.discount>span{
    padding: 0 3px;
    width: 27px;
    display: inline-block;
    color: white;
    font-size: 13px;
    background-color: var(--red);
    border-radius: 10px;
    font-family: yekanwb;
    text-align: center;
    line-height: 20px;

}
div.table2>div>div.a1>a>div.a1-2>div>div.price>span{
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: yekanwb;
    text-align: center;
    line-height: 20px;
}
div.table2>div>div.a1>a>div.a1-2>div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 197px;
}
div.table2>div>div.a1>a>div.a1-2>div:nth-of-type(2){
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 197px;
}

div.table2>div>div.a1>a>div.a1-2>div>div.realprice>del{
    color: var(--textgray);
    font-size: 12px;
    font-family: yekanwb;
    line-height: 13px;
    height: 14px;
    display: inline-block;
}
div.table2>div>div.a1>a>div.a1-2>div>div.realprice{
    height: 14px;
    padding: 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
div.table2>div>div.a1>a>div.a1-2>div>div.line{
    width: 197px;
    height: 4px;
    background-color: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
div.table2>div>div.a1>a>div.a1-2>div>div.line>div.line2{
    width: 100px;
    height: 4px;
    background-color: var(--red);
    border-radius: 10px;
}
div.table2>div.s1>div.a1>a>div.a1-2>div>div.line>div.line2{
    width: 70px;
    height: 4px;
    background-color: var(--red);
    border-radius: 10px;
}
div.table2>div.s3>div.a1>a>div.a1-2>div>div.line>div.line2{
    width: 120px;
    height: 4px;
    background-color: var(--red);
    border-radius: 10px;
}
div.table2>div>div.a1>a>div.a1-2>div>div.time{
    width: 197px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
div.table2>div>div.a1>a>div.a1-2>div>div.time>span{
    color: var(--red);

    font-size: 13px;
    font-family: yekanwb;
    text-align: center;
    line-height: 20px;
}
div.table2>div>div.a1>a>div.a1-2>div>div.time>div>span{
    color: var(--textgray);
    font-size: 12px;
    font-family: yekanwb;
    text-align: center;
    line-height: 20px;
}
div.table2>div>div.a1>a>div.a1-2>div>div.time>div>span:nth-of-type(1){
    color: var(--red);
    font-size: 11px;
    font-family: yekanwb;
    text-align: center;
    line-height: 20px;
}