footer>div.digis{
    height: 160px;
    width: 1462px;
    background-color: rgb(197, 196, 196);
    display: flex;
flex-direction: column;
}
footer>div.digis>div{
    height: 79.5px;
    width: 1462px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer>div.digis>div.s1{
    margin-bottom: 1px;
}
footer>div.digis>div>a{
    height: 79.5px;
    width: 162px;
    background-color: var(--silver);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>div.digis>div>a>img{
    height: 20px;
    max-width: 121px;
}